.search-bar{
    box-shadow: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
    margin-bottom:1rem;
    margin:1rem;
}
.search{
    border:1px solid #eee !important;
    width:100%;
    padding:1rem;
}
.filters{
    width:100%;
    display:none !important;
}
.filter-mobile{
    display:block !important;
}
.products_list{
    height:80vh;
}
@media  (min-width:992px) {
    .search{
        width:50%;
    }
    .filters{
        display:block !important;
    }
    .filter-mobile{
        display:none !important;
    }

    
}